.#{$prefix}-input-group {
  white-space: nowrap;

  &[disabled],
  &.disabled {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    color: currentColor;
    text-decoration: none;
    box-shadow: none;

    > * {
      pointer-events: none;
    }
  }
}

.#{$prefix}-input {
  box-shadow: $input-box-shadow;
  transition: $input-transition;
  border: transparent 2px solid;
  padding: $input-padding-y 4 * $input-padding-x $input-padding-y $input-padding-x;

  background-color: $white;

  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;

  color: $gray-70;

  vertical-align: 0.2px;

  &:focus {
    outline: 0;
    border: $primary 2px solid;
  }

  &.input-lg {
    padding: $input-padding-y-lg 4 * $input-padding-x-lg $input-padding-y-lg
      $input-padding-x-lg;
    font-size: $btn-font-size-lg;
    vertical-align: -0.05px;
  }

  &.input-sm {
    padding: $input-padding-y-sm 4 * $input-padding-x-sm $input-padding-y-sm
      $input-padding-x-sm;
    font-size: $btn-font-size-sm;
    vertical-align: -0.1px;
  }
}

.prepand,
.append {
  box-shadow: $input-box-shadow;
  transition: $input-transition;
  border: transparent 2px solid;
  padding: $input-padding-y 2 * $input-padding-x;
  color: $gray-70;

  &:focus {
    outline: 0;
    border: $primary 2px solid;
  }
}

.prepand {
  border: transparent 2px solid;
  border-radius: $input-border-radius 0 0 $input-border-radius;
  font-size: $input-font-size;

  &.prepand-lg {
    padding: $input-padding-y-lg 2 * $input-padding-x-lg;
    font-size: $input-font-size-lg;
  }

  &.prepand-sm {
    padding: $input-padding-y-sm 2 * $input-padding-x-sm;
    font-size: $input-font-size-sm;
  }
}

.append {
  border: transparent 2px solid;
  border-radius: 0 $border-radius $input-border-radius 0;

  &.append-lg {
    padding: $input-padding-y-lg 2 * $input-padding-x-lg;
    font-size: $input-font-size-lg;
  }

  &.append-sm {
    padding: $input-padding-y-sm 2 * $input-padding-x-sm;
    font-size: $input-font-size-sm;
  }
}

.icon-anchor {
  position: relative;

  > svg {
    position: absolute;
    right: 0.55rem;
    top: 0.2rem;
    fill: $gray-30;
    pointer-events: none;
  }
}

.icon-anchor-small {
  position: relative;

  > svg {
    position: absolute;
    right: 0.5rem;
    top: 0.2rem;
    fill: $gray-30;
    pointer-events: none;
  }
}

.icon-anchor-large {
  position: relative;

  > svg {
    position: absolute;
    right: 0.7rem;
    top: 0.15rem;
    fill: $gray-30;
    pointer-events: none;
  }
}
