@import "./variables";

@import "./mixin";

.#{$prefix}-alert {
  box-shadow: $alert-box-shadow;
  margin: $alert-margin-y 0;
  padding: $alert-padding-y $alert-padding-x;

  font-size: $alert-font-size;
  font-weight: $alert-font-weight;

  color: $alert-font-color;

  position: relative;

  display: flex;

  &.alert-success {
    @include alert-background($success);
  }

  &.alert-info {
    @include alert-background($info);
  }

  &.alert-warning {
    @include alert-background($warning);
  }

  &.alert-error {
    @include alert-background($danger);
  }

  .alert-desc {
    color: $alert-desc-color;
    font-size: $alert-desc-size;
    font-weight: $alert-desc-weight;
    margin-top: 0.5rem;
  }

  .alert-close-btn {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    fill: $alert-font-color;
  }

  .alert-icon-success {
    fill: darken($success, 25%);
    margin-top: 0.3rem;
  }

  .alert-icon-info {
    fill: darken($info, 25%);
    margin-top: 0.3rem;
  }

  .alert-icon-warning {
    fill: darken($warning, 25%);
    margin-top: 0.3rem;
  }

  .alert-icon-error {
    fill: darken($danger, 25%);
    margin-top: 0.3rem;
  }

  .alert-message-wrapper {
    margin-left: 1rem;
  }
}
