$alert-box-shadow: 0 0 4px $gray-30;

$alert-padding-y: 0.5rem !default;
$alert-padding-x: 2.5rem !default;

$alert-margin-y: 0.8rem !default;

$alert-font-size: $font-size-base !default;
$alert-font-weight: $font-weight-base !default;
$alert-font-color: $gray-60;

$alert-desc-size: $font-size-sm !default;
$alert-desc-color: $gray-50;
$alert-desc-weight: $font-weight-light !default;

$alert-border-width: $border-width !default;

$alert-disabled-opacity: 0.5 !default;

$alert-border-radius: $border-radius !default;
$alert-border-radius-sm: $border-radius-sm !default;
$alert-border-radius-lg: $border-radius-lg !default;
