.#{$prefix}-btn {
  display: inline-block;

  @include btn-size(
    $btn-padding-x,
    $btn-padding-y,
    $btn-font-size,
    $border-radius,
    $btn-margin-x,
    $btn-margin-y
  );

  line-height: $btn-line-height;
  font-weight: $btn-font-weight;
  font-family: $btn-font-family;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;

  background-image: none;

  border: $btn-border-width solid transparent;
  box-shadow: $box-shadow;

  transition: $btn-transition;

  cursor: pointer;

  &[disabled],
  &.disabled {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    color: currentColor;
    text-decoration: none;
    box-shadow: none;

    > * {
      pointer-events: none;
    }
  }

  &.loading {
    cursor: default;
    opacity: $btn-loading-opacity;
    color: $gray-50;
    text-decoration: none;
    box-shadow: none;

    > * {
      pointer-events: none;
    }
  }

  &:focus {
    outline: 0;
    border-color: $primary;
  }

  @include btn-style($body-color, $primary, $primary, null, null);

  .btn-inner-text {
    vertical-align: text-bottom;
  }

  .bird-ui-icon {
    margin-right: 0.7rem;
    fill: $secondary;
  }

  .btn-only-icon {
    margin: 0;

    .bird-ui-icon {
      margin: 0;
      vertical-align: -1px;
    }
  }
}

.btn-lg {
  @include btn-size(
    $btn-padding-x-lg,
    $btn-padding-y-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg,
    $btn-margin-x-lg,
    $btn-margin-y-lg
  );
}

.btn-sm {
  @include btn-size(
    $btn-padding-x-sm,
    $btn-padding-y-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm,
    $btn-margin-x-sm,
    $btn-margin-y-sm
  );
}

.btn-primary {
  @include btn-style($white, darken($white, 10%), $primary, $primary, darken($primary, 10%));
  .bird-ui-icon {
    fill: darken($white, 10%);
  }

  &.loading {
    color: $gray-10;
  }
}

.btn-secondary {
  @include btn-style(
    $white,
    darken($white, 10%),
    $secondary,
    $secondary,
    darken($secondary, 10%)
  );

  .bird-ui-icon {
    fill: darken($white, 10%);
  }

  &.loading {
    color: $gray-10;
  }
}

.btn-danger {
  @include btn-style($white, darken($white, 10%), $danger, $danger, darken($danger, 10%));
  .bird-ui-icon {
    fill: darken($white, 10%);
  }

  &.loading {
    color: $gray-10;
  }
}

.link {
  @include btn-style($primary, darken($primary, 20%), transparent, null, null);
  box-shadow: none;

  @include btn-size(
    $link-padding-x,
    $link-padding-y,
    $btn-font-size,
    $btn-border-radius,
    $link-margin-x,
    $link-margin-y
  );

  &.btn-lg {
    @include btn-size(
      $link-padding-x-lg,
      $link-padding-y-lg,
      $btn-font-size-lg,
      $btn-border-radius-lg,
      $link-margin-x-lg,
      $link-margin-y-lg
    );
  }

  &.btn-sm {
    @include btn-size(
      $link-padding-x-sm,
      $link-padding-y-sm,
      $btn-font-size-sm,
      $btn-border-radius-sm,
      $link-margin-x-sm,
      $link-margin-y-sm
    );
  }
}
