// button
$menu-font-family: $font-family-base !default;
$menu-font-weight: $font-weight-base !default;

$menu-line-height: $line-height-lg !default;

$menu-padding-y: 0.5rem !default;
$menu-padding-y-sm: 0.75rem !default;
$menu-padding-y-lg: 1rem !default;

$menu-padding-x: 2.5rem !default;
$menu-padding-x-sm: 1.5rem !default;
$menu-padding-x-lg: 3rem !default;

$menu-margin-y: 0.5rem !default;
$menu-margin-y-sm: 1rem !default;
$menu-margin-y-lg: 0.75rem !default;

$menu-margin-x: 0.5rem !default;
$menu-margin-x-sm: 0.25rem !default;
$menu-margin-x-lg: 0.75rem !default;

$menu-font-size: $font-size-base !default;
$menu-font-size-sm: $font-size-sm !default;
$menu-font-size-lg: $font-size-lg !default;

$menu-border-width: $border-width !default;

$menu-disabled-opacity: 0.5 !default;

$menu-border-radius: $border-radius !default;
$menu-border-radius-sm: $border-radius-sm !default;
$menu-border-radius-lg: $border-radius-lg !default;

// $menu-box-shadow: inset 0 4px 4px rgba($white, 0.2), 0 2px 2px rgba($black, 0.2) !default;
$menu-box-shadow: 0 0 2px $gray-30;

$menu-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
  border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out !default;
$menu-show-transition: visibility 0s, opacity 0.5s ease-in-out !default;
