.#{$prefix}-menu {
  list-style-position: inside;
  padding-left: 0;
  border: 0;
  box-shadow: $box-shadow;
  color: $secondary;

  line-height: $menu-line-height;
  font-weight: $menu-font-weight;
  font-family: $menu-font-family;
  text-align: left;

  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;

  background: $white;

  &.sticky {
    position: sticky;
    top: 0.2rem;
    z-index: 999;
  }

  .bird-ui-icon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    vertical-align: -2px;
  }
}

.menu-item {
  list-style-type: none;
  background: $white;
  padding: $menu-padding-y $menu-padding-x;

  .submenu-title {
    > * {
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }

  &:hover:not(.disabled),
  &:focus:not(.disabled),
  &:active:not(.disabled) {
    background: $primary;
    color: $gray-10;
  }
}

.submenu {
  list-style-type: none;
  position: relative;

  .menu-icon-drawer {
    fill: $gray-30;
    transition: all 200ms ease-in-out;

    &.rotate-90 {
      transform: rotate(90deg);
    }
  }

  &.opened {
    background: darken($primary, 20%);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    color: currentColor;
    text-decoration: none;
    box-shadow: none;

    > * {
      pointer-events: none;
    }
  }

  .submenu-title {
    font-weight: $font-weight-bold;
    padding: $menu-padding-y $menu-padding-x;
  }
}

.horizontal {
  .opened > .submenu-title {
    color: $gray-10;
  }

  .menu-item {
    border-right: transparent 3px solid;

    &.active {
      border-right: darken($primary, 20%) 3px solid;
    }
  }

  .submenu-item {
    padding-left: 0;
    background: $white;
    box-shadow: $box-shadow;
    position: absolute;
    top: 3.5rem;
    left: 0;
    z-index: 999;

    .submenu-item {
      position: absolute;
      top: 1rem;
      left: 10rem;
      z-index: 999;
    }
  }
}

.vertical {
  .opened > .submenu-title {
    color: $gray-10;
    background: darken($primary, 20%);
  }

  flex-direction: column;

  .menu-item {
    padding-left: 0;
    padding-right: 0;
    border-right: transparent 3px solid;

    &.active {
      border-right: darken($primary, 20%) 3px solid;
    }
  }

  .submenu-item {
    padding-left: 0.5 * $menu-padding-x;
  }

  .submenu-title {
    padding-left: 0.1 * $menu-padding-x;
  }

  .submenu {
    background: none;
  }
}

.opened {
  .bird-ui-icon,
  .menu-icon-drawer {
    fill: $gray-10;
  }
}
