@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes beat {
  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }

  30%,
  70% {
    transform: scaleX(0.99);
  }
}
