// monochrome color
$white: #fff !default;
$gray-10: #f0f0f0 !default;
$gray-20: #ccc !default;
$gray-30: #b3b3b3 !default;
$gray-40: #999 !default;
$gray-50: #808080 !default;
$gray-60: #666 !default;
$gray-70: #4d4d4d !default;
$gray-80: #333 !default;
$gray-90: #1a1a1a !default;
$black: #000 !default;

// basic color
$orange: #ff8c25 !default;
$yellow: #ffdf40 !default;
$blue: #53c6ff !default;
$red: #e64b37 !default;
$green: #31d673 !default;
$purple: #d63287 !default;
$indigo: #5417b8 !default;
$pink: #ff9668 !default;
$teal: #7ee0d0 !default;
$cyan: #21f1ff !default;

// system color
$primary: $blue !default;
$secondary: $gray-50 !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-10 !default;
$dark: $gray-80 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $green,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// font family
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif: Georgia, Times, "Times New Roman", serif;
$font-family-monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif !default;

// font size
$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

// font weight
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// line height
$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;

$base-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
  border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out !default;

// header font size
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// link
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 20%) !default;
$link-hover-decoration: underline !default;

// body
$body-background: $white !default;
$body-color: $gray-90 !default;
$body-text-align: null !default;

// border
$border-width: 2px !default;
$border-color: $gray-30 !default;

$border-radius: 0.3rem !default;
$border-radius-sm: 0.25rem !default;
$border-radius-lg: 0.35rem !default;

// box-shadow
$box-shadow: 0 0 4px $gray-30 !default;

// alert
$alert-padding-y: 1.2rem !default;
$alert-padding-x: 2.5rem !default;

$alert-margin-y: 0.8rem !default;
$alert-margin-x: 1.7rem !default;

$alert-font-size: $font-size-base !default;
$alert-font-weight: $font-weight-base !default;

$alert-color: $gray-60;
$alert-desc-color: $gray-50;

$alert-desc-size: $font-size-sm !default;
$alert-desc-weight: $font-weight-light !default;

$alert-disabled-opacity: 0.5 !default;
$alert-border-radius: $border-radius !default;

// dialog
$dialog-background: #000 !default;
$dialog-opacity: 0.25;
$dialog-padding-y: 1.2rem !default;
$dialog-padding-x: 2.5rem !default;

// button
$btn-font-family: $font-family-base !default;
$btn-font-weight: $font-weight-base !default;

$btn-line-height: $line-height-base !default;

$btn-padding-y: 0.375rem !default;
$btn-padding-y-sm: 0.25rem !default;
$btn-padding-y-lg: 0.5rem !default;

$btn-padding-x: 1.25rem !default;
$btn-padding-x-sm: 1rem !default;
$btn-padding-x-lg: 1.5rem !default;

$btn-margin-y: 0.5rem !default;
$btn-margin-y-sm: 1rem !default;
$btn-margin-y-lg: 0.75rem !default;

$btn-margin-x: 0.5rem !default;
$btn-margin-x-sm: 0.25rem !default;
$btn-margin-x-lg: 0.75rem !default;

$btn-font-size: $font-size-base !default;
$btn-font-size-sm: $font-size-sm !default;
$btn-font-size-lg: $font-size-lg !default;

$btn-border-width: $border-width !default;

$btn-disabled-opacity: 0.5 !default;
$btn-loading-opacity: 0.8 !default;

$btn-border-radius: $border-radius !default;
$btn-border-radius-sm: $border-radius-sm !default;
$btn-border-radius-lg: $border-radius-lg !default;

$btn-box-shadow: $box-shadow !default;

$btn-transition: $base-transition !default;

// link
$link-padding-y: 0.375rem !default;
$link-padding-y-sm: 0.25rem !default;
$link-padding-y-lg: 0.5rem !default;

$link-padding-x: 0.5rem !default;
$link-padding-x-sm: 0.25rem !default;
$link-padding-x-lg: 0.75rem !default;

$link-margin-y: 0.5rem !default;
$link-margin-y-sm: 1rem !default;
$link-margin-y-lg: 0.75rem !default;

$link-margin-x: 0.3rem !default;
$link-margin-x-sm: 0.25rem !default;
$link-margin-x-lg: 0.35rem !default;

// icon
$icon-size: $font-size-base !default;
$icon-size-sm: $font-size-sm !default;
$icon-size-lg: $font-size-lg !default;

// menu
$menu-font-family: $font-family-base !default;
$menu-font-weight: $font-weight-base !default;

$menu-line-height: $line-height-lg !default;

$menu-padding-y: 0.5rem !default;
$menu-padding-y-sm: 0.75rem !default;
$menu-padding-y-lg: 1rem !default;

$menu-padding-x: 2.5rem !default;
$menu-padding-x-sm: 1.5rem !default;
$menu-padding-x-lg: 3rem !default;

$menu-margin-y: 0.5rem !default;
$menu-margin-y-sm: 1rem !default;
$menu-margin-y-lg: 0.75rem !default;

$menu-margin-x: 0.5rem !default;
$menu-margin-x-sm: 0.25rem !default;
$menu-margin-x-lg: 0.75rem !default;

$menu-font-size: $font-size-base !default;
$menu-font-size-sm: $font-size-sm !default;
$menu-font-size-lg: $font-size-lg !default;

$menu-border-width: $border-width !default;

$menu-disabled-opacity: 0.5 !default;

$menu-border-radius: $border-radius !default;
$menu-border-radius-sm: $border-radius-sm !default;
$menu-border-radius-lg: $border-radius-lg !default;

$menu-transition: $base-transition !default;
$menu-show-transition: visibility 0s, opacity 0.5s ease-in-out !default;

// input
$input-font-family: $font-family-base !default;
$input-font-weight: $font-weight-base !default;

$input-line-height: $line-height-base !default;

$input-padding-y: 0.4em !default;
$input-padding-y-sm: 0.3rem !default;
$input-padding-y-lg: 0.5rem !default;

$input-padding-x: 0.45rem !default;
$input-padding-x-sm: 0.25rem !default;
$input-padding-x-lg: 0.65rem !default;

$input-margin-y: 0.5rem !default;
$input-margin-y-sm: 1rem !default;
$input-margin-y-lg: 0.75rem !default;

$input-margin-x: 0.5rem !default;
$input-margin-x-sm: 0.25rem !default;
$input-margin-x-lg: 0.75rem !default;

$input-font-size: $font-size-base !default;
$input-font-size-sm: $font-size-sm !default;
$input-font-size-lg: $font-size-lg !default;

$input-border-width: 1px !default;

$input-disabled-opacity: 0.5 !default;
$input-loading-opacity: 0.8 !default;

$input-border-radius: 0.4 * $border-radius !default;
$input-border-radius-sm: 0.4 * $border-radius-sm !default;
$input-border-radius-lg: 0.4 * $border-radius-lg !default;

$input-transition: $base-transition !default;
$input-box-shadow: $box-shadow !default;

// list
$list-font-size: $font-size-base !default;
$list-font-family: $font-family-base !default;
$list-font-weight: $font-weight-base !default;

$list-line-height: 1.5 * $line-height-base !default;

$list-padding-y: 0.4rem !default;
$list-padding-x: 0.45rem !default;

$list-border-width: 1px !default;
$list-border-radius: 0.4 * $border-radius !default;

$list-transition: $base-transition !default;
$list-box-shadow: $box-shadow !default;
