$prefix: "bird-ui";

@import-normalize;

@import "variables";

@import "reboot";

@import "mixin";

@import "animation";

@import "../components/Alert/styles/index";

@import "../components/Button/styles/index";

@import "../components/Icon/styles/index";

@import "../components/Menu/styles/index";

@import "../components/Transition/styles/index";
