$prefix: "bird-ui";

@import "normalize";

@import "variables";

@import "reboot";

@import "mixin";

@import "keyframes";

@import "../components/Alert/Alert";

@import "../components/Button/Button";

@import "../components/Icon/Icon";

@import "../components/Menu/Menu";

@import "../components/Transition/Transition";

@import "../components/Input/Input";

@import "../components/List/List";

@import "../components/Autocomplete/Autocomplete";

@import "../components/Dropdown/Dropdown";

@import "../components/Select/Select";

@import "../components/Date/Date";

@import "../components/Slider/Slider";
