.#{$prefix}-icon {
  width: $icon-size;
  height: $icon-size;
  fill: $secondary;

  &.icon-lg {
    width: $icon-size-lg;
    height: $icon-size-lg;
  }

  &.icon-sm {
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.icon-tn {
    width: $icon-size-tn;
    height: $icon-size-tn;
  }

  &.animate-spin {
    animation: spin 2000ms infinite linear;
  }

  &.animate-beat {
    animation: beat 2000ms infinite linear;
  }
}
