.#{$prefix}-alert {
  box-shadow: $box-shadow;
  padding: $alert-padding-y $alert-padding-x;

  font-size: $alert-font-size;
  font-weight: $alert-font-weight;

  color: $alert-color;

  position: relative;

  display: flex;

  &.alert-success {
    background: lighten($success, 20%);
  }

  &.alert-info {
    background: lighten($info, 20%);
  }

  &.alert-warning {
    background: lighten($warning, 20%);
  }

  &.alert-error {
    background: lighten($danger, 20%);
  }

  .alert-desc {
    color: $alert-desc-color;
    font-size: $alert-desc-size;
    font-weight: $alert-desc-weight;
    margin-top: 0.5rem;
  }

  .alert-close-btn {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    fill: $alert-color;
  }

  .alert-icon-success {
    fill: darken($success, 25%);
    margin-top: 0.3rem;
  }

  .alert-icon-info {
    fill: darken($info, 25%);
    margin-top: 0.3rem;
  }

  .alert-icon-warning {
    fill: darken($warning, 25%);
    margin-top: 0.3rem;
  }

  .alert-icon-error {
    fill: darken($danger, 25%);
    margin-top: 0.3rem;
  }

  .alert-message-wrapper {
    margin-left: 1rem;
  }
}

.#{$prefix}-dialog {
  .dialog-background {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $dialog-background;
    opacity: $dialog-opacity;
  }

  .dialog-container {
    position: fixed;

    border-radius: $border-radius;

    box-sizing: border-box;

    background: $white;
    box-shadow: 0 0 6px $gray-40;

    z-index: 10000;
    width: 32rem;

    top: 28%;
    left: calc(50vw - 16rem);

    .dialog-title {
      background: darken($primary, 20%);
      text-align: center;

      h2 {
        color: $white;
        margin: 0;
        padding: 1rem 2rem;
      }
    }

    .dialog-content {
      padding: 1rem 2rem;
      color: $gray-70;
      font-family: $font-family-sans-serif;
    }

    .dialog-button {
      text-align: right;

      .link {
        font-weight: $font-weight-bold;
      }
    }
  }
}
