// button
$btn-font-family: $font-family-base !default;
$btn-font-weight: $font-weight-base !default;

$btn-line-height: $line-height-base !default;

$btn-padding-y: 0.375rem !default;
$btn-padding-y-sm: 0.25rem !default;
$btn-padding-y-lg: 0.5rem !default;

$btn-padding-x: 1.25rem !default;
$btn-padding-x-sm: 1rem !default;
$btn-padding-x-lg: 1.5rem !default;

$btn-margin-y: 0.5rem !default;
$btn-margin-y-sm: 1rem !default;
$btn-margin-y-lg: 0.75rem !default;

$btn-margin-x: 0.5rem !default;
$btn-margin-x-sm: 0.25rem !default;
$btn-margin-x-lg: 0.75rem !default;

$btn-font-size: $font-size-base !default;
$btn-font-size-sm: $font-size-sm !default;
$btn-font-size-lg: $font-size-lg !default;

$btn-border-width: $border-width !default;

$btn-disabled-opacity: 0.5 !default;
$btn-loading-opacity: 0.8 !default;

$btn-border-radius: $border-radius !default;
$btn-border-radius-sm: $border-radius-sm !default;
$btn-border-radius-lg: $border-radius-lg !default;

// $btn-box-shadow: inset 0 4px 4px rgba($white, 0.2), 0 2px 2px rgba($black, 0.2) !default;
$btn-box-shadow: 0 0 4px $gray-30;

$btn-transition: $base-transition !default;

// link
$link-padding-y: 0.375rem !default;
$link-padding-y-sm: 0.25rem !default;
$link-padding-y-lg: 0.5rem !default;

$link-padding-x: 0.5rem !default;
$link-padding-x-sm: 0.25rem !default;
$link-padding-x-lg: 0.75rem !default;

$link-margin-y: 0.5rem !default;
$link-margin-y-sm: 1rem !default;
$link-margin-y-lg: 0.75rem !default;

$link-margin-x: 0.3rem !default;
$link-margin-x-sm: 0.25rem !default;
$link-margin-x-lg: 0.35rem !default;
